fastapi==0.115.6
brotli-asgi==1.6.0
uvicorn[standard]==0.34.0
jinja2==3.1.5
python-multipart==0.0.18
httpx==0.28.1
selectolax==0.3.29
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0
natasha==1.6.0
pymorphy3>=2.0
pymorphy3-dicts-ru>=2.0
bcrypt>=4.0
sqlalchemy>=2.0
alembic>=1.13
psycopg2-binary>=2.9
